## Temporal verification
Temporal verification verifies the current temporal consistency state so as to determine whether a temporal violation takes place and/or the level of current temporal violations.

From: [Temporal QOS Management in Scientific Cloud Workflow Systems, 2012](https://www.sciencedirect.com/science/article/pii/B9780123970107000045)
Dictionary: **temporal** - relating to time<script>
MathJax = {
  tex: {
    inlineMath: [["$", "$"], ["\\(", "\\)"]]
  }
};
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
